<div class="x_panel tile">
    <div class="x_title">
        <h2>
            <strong>
                {{#if title}}
                    {{title}}
                    {{#if showTotal}}
                        total <span id={{totalAmount}}>-</span> {{unit}}</strong>
                    {{/if}}
                    {{#if showLast}}
                        (last <span id={{lastId}}>-</span> {{unit}})
                    {{/if}}
                {{else}}
                    TITLE MISSING
                {{/if}}
            </strong>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <canvas id={{chartId}} height="270"></canvas>
    </div>
</div>
