<footer>
    <ul class="list-inline">
        <li>
            <strong>Device name:</strong> {{device.name}}</li>
        <li>
            <strong>Model:</strong> {{device.model}}</li>
        <li>
            <strong>Sw ver:</strong> {{device.softwareVersion}}</li>
        <li>
            <strong>Hw ver:</strong> {{device.hardwareVersion}}</li>
        <li>
            <strong>IP:</strong> {{device.host}}</li>
    </ul>
</footer>
